.drawer {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
  z-index: 20;
  border: 0;
}

.drawer {
  color: white;
  fill: white;
  background: rgb(208, 111, 1);
  height: 100vh;
  width: 400px;
  max-width: calc(100% - 80px);
  padding-left: 64px;
  padding-top: 40px;
  margin-left: auto;
  transform: translateX(100%);
  transition: all var(--transition);
  opacity: 1;
  position: absolute;
  right: 0;
  display: block;
  overflow: hidden;
}

.drawer--MOUNTED {
  transform: translateX(100%);
}

.drawer--ENTERING {
  transform: translateX(0);
}

.drawer--ENTERED {
  transform: translateX(0);
}

.drawer--LEAVING {
  transform: translateX(100%);
}

.menu__list {
  padding-top: 40px;
}

.menu__item {
  margin-bottom: 20px;
  font-size: 24px;
  /* color: white; */
  text-transform: none;
  font-weight: 500;
}

.drawer__link::before {
  /* background-color: white; */
  height: 3px !important;
}
