:root .container {
  --card-p: 20px;
  --card-bg: var(--color-bg-top);
  --card-border-r: 16px;
  --card-border: none;
  --card-shadow: var(--shadow-1);
}

.container {
  position: relative;
  width: 100%;
  height: inherit;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: auto;
  max-width: 1200px;
}
