.header {
  display: flex;
  height: 64px;
  align-items: center;
  gap: 10px;
}

.header__btn {
  width: 20px;
  height: 20px;
  display: block;
  transform: translateY(3px);
  fill: var(--text);
}

.header__name {
  font-weight: 600;
  font-size: 22px;
  display: flex;
  align-items: center;

}

.header__nav {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header__menu {
  display: none;
  margin-left: auto;
}

@media only screen and (max-width: 900px) {
.header__nav {
  display: none;
}

.header__menu {
  display: block;
}
}


.header__link {
  color: var(--text-grey);
}

.header__link:hover:not(.active) {
  color: var(--text);
}


.active {
  color: var(--primary);
}

