@font-face {
  font-family: "DMSans";
  font-weight: 100;
  src: local("☺"), url(./DMSans/static/DMSans-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 200;
  src: local("☺"), url(./DMSans/static/DMSans-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 300;
  src: local("☺"), url(./DMSans/static/DMSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 400;
  src: local("☺"), url(./DMSans/static/DMSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 500;
  src: local("☺"), url(./DMSans/static/DMSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 600;
  src: local("☺"), url(./DMSans/static/DMSans-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 700;
  src: local("☺"), url(./DMSans/static/DMSans-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 800;
  src: local("☺"), url(./DMSans/static/DMSans-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "DMSans";
  font-weight: 900;
  src: local("☺"), url(./DMSans/static/DMSans-Black.ttf) format("truetype");
}
