:root {
  /* --color-background-1: #ffffff;
  --color-background-2: #f7f7fa;
  --color-background-3: #ececec;
  --color-background-4: #dedede; */

  --shadow-1: 0 1px 3px 0 rgba(30, 30, 30, 0.25);
  --shadow-2: 0 2px 6px 0 rgba(30, 30, 30, 0.25);
  --shadow-3: 0 3px 9px 0 rgba(30, 30, 30, 0.25);
  --transition: 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  --color-text-1: #000000;
  --color-text-2: #2d3c4d;
  --color-text-3: #383838;

  --color-primary: #9b00f4;
  --color-primary--darker: #6e03ab;
  --color-primary-contrast: #ffffff;

  --color-success: #39cf61;
  --color-error: #f93860;
  --color-warning: #fedd57;
  --color-info: #209dee;

  --border-1: 1px solid rgba(180, 180, 180, 0.4);
  --color-header: #fffffff5;

  --shadow-header: 0 6px 10px 0 rgba(30, 30, 30, 0.15);

  --radius-1: 0px;
  --padding-1: 20px;

  --header-height: 60px;
  --footer-height: 100px;

  --p-sides: 16px;
  --maxwidth: 1440px;
}

:root {
  /* --dark-1: #000;
  --dark-2: #111;
  --dark-3: #222;
  --dark-4: #333;
  --dark-5: #444;

  --transition: 0.3s cubic-bezier(0.5, 0, 0.5, 1);

  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-2: 0 1px 3px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
  --shadow-3: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
  --shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
  --shadow-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.25);

  --color-primary: #d800f4;
  --color-text: #333;
  --color-text-light: #555;

  --maxwidth: 1200px;
  --gutter: 15px;

  --header-height: 80px;
  --header-background: rgba(255, 255, 255, 0.98);
  --header-color: #444;
  --header-border: var(--light-1);
  --header-shadow: var(--shadow-1);

  --height-input: 48px;
  --pad-input: 10px;
  --bg-input: #ffffff;
  --bg-input-hover: #f3f3f3;
  --color-input: #222;
  --border-input: #e9e9e9;
  --bg-checkbox: #d3d3d3;
  --bg-checkbox-true: #222;
  --rounded-small: 4px;
  --rounded-normal: 8px;
  --rounded-large: 16px; */
}
